/* CSS Variables */
:root{
    --primary: rgb(238, 238, 238);
    --dark: #841532;
    --light: #fff;
    --shadow: 0 1px 5px rgba(26, 26, 26, 0.8);
}

/* global */
html{
    box-sizing: border-box;
    font-family: 'Cabin';
    color: var(--dark);
}

body {
    background:#fafafa;
    margin: 30px 50px;
    line-height: 1.4;
}

.myBtn {
    background: var(--dark);
    color: #fff;
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    border: 0;
    text-align: center;
    box-shadow: var(--shadow);
}

.myBtn:hover {
    background: #a71c41;
    color: var(--light);
    transition: .5s;
    box-shadow: var(--shadow);
}

#clsBtn {
    background: #fff;
    color: var(--dark);
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    border: 0;
    text-align: center;
    box-shadow: var(--shadow);
    font-weight: 600;
}

#clsBtn:focus {
    transition: .5s;
    box-shadow: var(--shadow);
    cursor: pointer;
}

.img {
    max-width: 100%;
}

.wrapper {
    display: grid;
    grid-gap: 20px;
}

/* Navigation */

.main-nav ul {
    display: grid;
    grid-gap: 20px;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(4, 1fr)
}

.main-nav a {
    background: var(--dark);
    display: block;
    text-decoration: none;
    padding: 0.8rem;
    text-align: center;
    color: var(--light);
    text-transform: uppercase;
    font-size: 1.1rem;
    box-shadow: var(--shadow);
}

.main-nav a:hover{
    background: #a71c41;
    color: var(--light);
    transition: .5s;
}

.main-nav .current {
    color: var(--dark);
    background: #fafafa
}

.main-nav .current:hover {
    background: none;
    color: var(--dark);
}

/* Top Container */

.top-container {
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
        'showcase showcase top-box-a'
        'showcase showcase top-box-b';
}

/* showcase */
.showcase  {
    grid-area: showcase;
    min-height: 400px;
    background: url(../img/showcase.jpg);
    background-size: cover;
    background-position: top;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: top;
    box-shadow: var(--shadow);
}

.showcase h1 {
    font-size: 4rem;
    margin-bottom: 0;
    text-shadow: var(--dark);
}

.showcase p {
    font-size: 1.3rem;
    margin-top: 0;
}

/* Top Box */

.top-box {
    display: grid;
    align-items: center;
    justify-content: center;
    box-shadow: var(--shadow);
    padding: 1.5rem;
}

.top-box .price {
    font-size: 50px;
    text-align: center;
    font-weight: 500;
    color: var(--light);
}

.top-box-a {
    grid-area: top-box-a;
    background: url(../img/top-box-a-img.jpg);
    background-size: cover;
}

.top-box-b {
    grid-area: top-box-b;
    background: url(../img/top-box-b-img.jpg);
    background-size: cover;
}

.top-box h4{
    font-size: 29px;
    padding: 0;
    margin: 0;
    color: var(--light);
    letter-spacing: 5px;
}

/* Boxes */

.boxes {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    background-size: cover;
    text-align: center;
}

.box {
    box-shadow: var(--shadow);
    position: relative;
}


.boxImg {
    width: 100%;
    height: auto;
    display: block;
    min-width: 100%;
    min-height: 100%;
}

.box:hover .overlay {
    opacity: 0.8;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: var(--dark);
  }

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* Rules.html */

.rules {
    color: black;
    text-decoration: none;
}

.rules h1 {
    color: var(--dark);
    text-align: left;
    padding: 30px;
    padding-bottom: 0px;
    margin: 0;
}

.rules h3 {
    color: var(--dark);
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
}

.rules ul {
    list-style: none;
    text-align: left;
    padding: 30px;
    padding-top: 0px;
    margin: 0px;
}

.rules li {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.rules li span{
    font-weight: 800;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}


/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #868686;
    text-decoration: none;
    cursor: pointer;
    transition: .5s;
}

.modal-header {
    padding: 2px 16px;
    background-color: var(--dark);
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 10px 22px;
    background-color: var(--dark);
    color: white;
}


/* Media Queries */
@media (max-width: 700px) { 
    
    .top-container{
        grid-template-areas:
        'showcase showcase'
        'top-box-a top-box-b'
    }

    .showcase h1 {
        font-size: 2.5rem;
    }

    .main-nav ul {
        grid-template-columns: 1fr;
    }

    .boxes {
        grid-template-columns: 1fr;
        min-height: 150px;
    }

    .boxes img {
        min-height:33%;
        min-width:auto;
    }
}

@media (max-width: 500px) {
    .top-container{
        grid-template-areas:
        'showcase'
        'top-box-a'
        'top-box-b'
    }
    .boxes img {
        min-height: 33%;
        min-width: auto;
    }
}