/* CSS Variables */
:root {
  --primary: #841532;
  --primary-light: #bd204a;
  --light: rgb(255, 255, 255);
  --bg-primary: #841532;
  --bg-light: #a71c41;
  --bg-dark: #333;
  --shadow: 0 1px 5px rgba(26, 26, 26, 0.8);
}

/* global */
@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: var(--light);
}

p {
  margin: 0.75rem 0;
}

button:focus {
  outline: #bd204a auto 5px;
}

/* Utility classes */
.container {
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

.text-primary {
  color: var(--primary);
}

.text-primary-light {
  color: var(--primary-light);
}

.text-light {
  color: var(--light);
}

.text-dark {
  color: #2c2c2c;
}

.text-center {
  text-align: center;
}

.btn {
  display: inline-block;
  color: #fff;
  background: var(--primary);
  padding: 1.3rem 3rem;
  font-size: 1.3rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background: var(--primary-light);
  transition: 0.5s;
  box-shadow: var(--shadow);
}

.list {
  margin: 0.5rem 0;
  list-style: none;
}

.list li {
  padding: 0.5rem 0;
  border-bottom: var(--primary) dotted 1px;
}

.l-heading {
  font-size: 4rem;
  margin-bottom: 0.75rem;
  line-height: 1.1;
}

.m-heading {
  font-size: 2rem;
  margin-bottom: 0.75rem;
  line-height: 1.1;
}

.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.bg-primary-light {
  background: var(--bg-light);
  color: var(--light);
}

.bg-primary {
  background: var(--bg-primary);
  color: var(--light);
}

.bg-dark {
  background: var(--bg-dark);
  color: var(--light);
}

.bg-light {
  background: var(--light);
  color: var(--primary);
}

.py-1 {
  padding: 1.5rem 1rem;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}

.p-1 {
  padding: 1.5rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}

/* Navbar */
#navbar {
  display: flex;
  position: sticky;
  top: 0;
  background: #2c2c2c;
  justify-content: space-between;
  z-index: 1;
  padding: 1rem;
}

#navbar .logo {
  align-items: center;
  padding: 0.75rem;
}

#navbar .logo-img {
  background: url(../img/areslan_logo.png) no-repeat center center/cover;
  height: 50px;
  width: 50px;
}

#navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
}

#navbar ul li a {
  color: var(--light);
  padding: 0.75rem;
  margin: 0 0.25rem;
  font-size: 1.3rem;
}

#navbar ul li a:hover {
  background: var(--primary-light);
  border-radius: 5px;
  color: var(--light);
  transition: 0.5s;
  box-shadow: var(--shadow);
}

/* Showcase */
#showcase {
  background: #333 url(../img/showcase.jpg) no-repeat center center/cover;
  height: 100vh;
  color: var(--light);
}

#showcase .showcase-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 2rem;
  /* Overlay */
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

/* Section: Ticket & Information */
#ticket {
  background: #2c2c2c;
  color: var(--light);
}

#ticket .item {
  display: flex;
  padding: 1rem;
  flex-wrap: wrap;
}

#ticket .item .item-card {
  flex: 1;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 5rem 5rem;
  margin: 2rem;
  box-shadow: var(--shadow);
}

#ticket .item .tckBtn {
  color: var(--light);
  background: var(--bg-primary);
  border: none;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

#ticket .item .tckBtn:hover {
  transform: scale(1.1);
  background: var(--bg-light);
}

#ticket .item .tckBtn:focus {
  outline: none;
}

#ticket .item i {
  padding: 1rem;
}

#ticket .item .price {
  padding: 1rem;
  font-size: 2rem;
  font-weight: 600;
}

#ticket .item .information {
  background: #fefefe;
  color: var(--primary-light);
  text-align: left;
}

#ticket .item .information ul {
  list-style: none;
}

#ticket .item .information ul li {
  padding: 0.3rem 0;
  white-space: nowrap;
  font-size: 1.1rem;
  font-weight: 500;
  border-bottom: #333 dotted 1px;
}

/* Section: Rules */
#rules .rule-content {
  display: flex;
  justify-content: center;
  padding: 0 4rem;
  margin-bottom: 6rem;
  flex-wrap: wrap;
}

#rules .rule-content button {
  margin: 2rem;
  background: var(--bg-dark);
  color: var(--light);
  box-shadow: var(--shadow);
  border: none;
  transition: 0.5s;
  cursor: pointer;
}

#rules .rule-content button:hover {
  transform: scale(1.1);
  background: #2c2c2c;
}

#rules .rule-content button h2 {
  font-size: 2rem;
  padding: 8rem;
}

/* Section: Contact */
#contact {
  display: flex;
}

#contact .map,
#contact .contact-form {
  flex: 1;
  padding: 4rem 2rem;
}

#contact .contact-form .form-group {
  margin: 0.75rem;
}

#contact .contact-form label {
  display: block;
}

#contact .contact-form input:focus,
#contact .contact-form textarea:focus {
  outline: auto #fff 2px;
}

#contact .contact-form input,
#contact .contact-form textarea {
  width: 100%;
  padding: 1rem;
}

#contact .contact-form textarea {
  resize: none;
  height: 100px;
}

#contact .contact-form input[type="submit"] {
  border: none;
  background: #fff;
  color: var(--primary-light);
  font-weight: 600;
  transition: 0.5s;
  cursor: pointer;
}

#contact .contact-form input:hover[type="submit"] {
  background: var(--primary-light);
  color: #fff;
}

/* Honeypot input */
#contact .contact-form #website {
  display: none;
}

/* Footer */
footer {
  background: #2c2c2c;
  color: #fff;
  text-align: center;
  padding: 2rem;
  line-height: 3;
}

footer a {
  color: var(--primary-light);
}

/* The Modal (background) */
.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: auto; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  display: flex;
  flex-direction: column;
  background-color: #fefefe;
  border-radius: 7px;
  margin: auto;
  margin-top: 200px;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.modal-content a {
  color: var(--primary);
  font-weight: 500;
}

/* The Close Span */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: var(--primary-light);
  cursor: pointer;
  transition: 0.5s;
}

/* The Close Button */
.clsBtn {
  color: var(--primary);
  font-weight: 700;
  background: var(--light);
  padding: 1.3rem 3rem;
  font-size: 1.3rem;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.5s;
}

.clsBtn:hover {
  background: var(--primary-light);
  color: var(--light);
}

/* Modal header/body/footer */
.modal-header {
  padding: 1rem;
  background-color: var(--primary);
  color: white;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.modal-body {
  padding: 2rem;
  font-size: 1.4rem;
}

.modal-footer {
  padding: 1rem;
  background-color: var(--primary);
  color: white;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

/* Rule and Packing Modal */
#ruleModal .modal-content,
#packingModal .modal-content {
  margin-top: 50px;
}

#ruleModal .modal-header,
#packingNodam .modal-header {
  padding: 1rem;
}

#ruleModal .modal-body,
#packingModal .modal-body {
  background: #fff;
  color: #333;
  padding: 2rem 0;
}

#ruleModal h3,
#packingModal h3 {
  padding: 1rem;
  color: var(--primary);
}

#ruleModal ul,
#packingModal ul {
  list-style: none;
}

#ruleModal ul li,
#packingModal ul li {
  padding: 0.5rem;
  margin: 0 1rem;
  border-top: rgba(197, 195, 195, 0.61) dotted 0.5px;
  border-bottom: rgba(197, 195, 195, 0.61) dotted 0.5px;
}

#ruleModal ul li span {
  color: var(--primary);
}

/* Media Queries */

@media (max-width: 768px) {
  /* Phones/Small devices */
  /* Navbar */
  #navbar {
    flex-direction: column;
    align-items: center;
    padding: 0.2rem;
    position: static;
  }
  #navbar ul {
    flex-direction: column;
  }

  #navbar ul li {
    border-bottom: #333 dotted 1px;
    padding: 0.5rem;
    width: 100%;
    text-align: center;
  }

  #navbar ul li a {
    background: none;
  }
  #navbar ul li a:hover {
    background: none;
    box-shadow: none;
  }

  /* Header */
  #showcase {
    height: 80vh;
  }

  #showcase .showcase-content {
    display: flex;
  }
  #showcase .showcase-content h1 {
    font-size: 3rem;
  }

  #showcase .showcase-content p {
    line-height: 2rem;
  }

  #showcase .showcase-content a {
    margin-bottom: 100px;
  }

  /* Section: Ticket/Info */
  #ticket .item {
    flex-direction: column;
  }

  #ticket .item .item-card {
    margin: 0.5rem 0;
    padding: 0.5rem;
    text-align: center;
  }
  #ticket .item .information span {
    display: flex;
    text-align: left;
    border-bottom: #333 dotted 1px;
  }
  #ticket .item .information ul li {
    white-space: normal;
    text-align: left;
  }

  /* Section: Rules/Packing */
  #rules .rule-content button h2 {
    padding: 3rem;
    font-size: 1.5rem;
  }

  #rules .rule-content {
    flex-direction: column;
    padding: 0 0;
    margin-bottom: 3rem;
  }

  #rules .rule-content button {
    margin: 2rem;
  }

  /* Section: Contact */
  #contact {
    flex-direction: column;
  }

  #contact .map {
    flex: 1;
  }

  #contact .contact-form input[type="submit"] {
    padding: 1rem;
  }

  /* Modal Button */
  .modal-content .clsBtn {
    width: 100%;
  }
}

/* Phones with width of up to 330 px (iPhone 5/SE ie) */
@media (max-width: 330px) {
  /* Showcase */
  #showcase .showcase-content h1 {
    font-size: 2rem;
  }

  #showcase .showcase-content p {
    font-size: 1.2rem;
  }

  /* Section: Ticket */
  #ticket .item i {
    font-size: 3rem;
  }

  #ticket h2 {
    font-size: 1.5rem;
  }

  #ticket p {
    font-size: 1rem;
  }

  /* Section: Rules  */
  #rules h2 {
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
  }
}
